/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;

}
h1 {
  text-align: center;
  margin: 15px;
}

p {
  border:1px solid black;
  background-color: #808080;
  /*height:50%;
  width:100%;*/
  padding:35px 15px 15px 15px;
  
}

div{
  position: relative;
  margin:11px;
}
#p1{
  font-weight: bold;
  font-size: 125%;
  border: 1px solid black;
  position: absolute;
  right:0px;
  top:0px;
  width:150px;
  height:35px;
  padding:5px 45px 5px 35px;
  background-color: #FA8072;
}
#p2{
  font-weight: bold;
  font-size: 125%;
  border: 1px solid black;
  position: absolute;
  right:0px;
  top:0px;
  width:150px;
  height:35px;
  padding:5px 30px 5px 55px;
  background-color: #DC143C;
}
#p3{
  font-weight: bold;
  font-size: 125%;
  border: 1px solid black;
  position: absolute;
  right:0px;
  top:0px;
  width:150px;
  height:35px;
  padding:5px 45px 5px 55px;
  background-color: #F0E68C;
}

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 30%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 23%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 96.65%;
  }
  .col-md-12 {
    width: 100%;
  }
}